<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">📚 Biblioteca Digital</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios">👤 Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/autores">✍️ Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/libros">📘 Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/prestamos">🔄 Préstamos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
